{
	"presets": ["es2015"],
	"plugins": [
		["transform-rename-import", { original: '<@Weapon@>', replacement: './weapon.js' }],
		["transform-rename-import", { original: '<@RapidFireWeapon@>', replacement: './rapid_fire_weapon.js' }],
		["transform-rename-import", { original: '<@Smg@>', replacement: './smg.js' }],
		["transform-rename-import", { original: '<@Lmg@>', replacement: './lmg.js' }],
		["transform-rename-import", { original: '<@Shotgun@>', replacement: './shotgun.js' }],
		["transform-rename-import", { original: '<@Knife@>', replacement: './knife.js' }],
		["transform-rename-import", { original: '<@convert@>', replacement: '../server/convert.js' }]
	]
}
