/node_modules/
npm-debug.log

/static/bundle.js
/master_server_bundle.js
/game_server_bundle.js

/build_config.json
/game_config.json
/master_config.json

/server/mods/*
!/server/mods/capture
!/server/mods/capture/*
