@viewport {
	user-zoom: fixed;
}
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Open Sans";
}
.info-box {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	background: #ebedf4;
	color: #333;
	opacity: 1;
	width: 20%;
	min-width: 240px;
	transition: width .5s ease, min-width .5s ease, opacity .5s;
}
.info-box .container{
	float: left;
/*	border-top: 2px solid #AD3726;*/
}
.info-box h2 {
	margin: 0.2em 0;
}
.info-box a {
	text-decoration: none;
	color: #AD3726;
	font-weight: bold;
}
.info-box * {
	transition: opacity .2s linear 0.5s;
	opacity: 1;
}
.info-box .gh-image {
	position: absolute;
	bottom: 15px;
	left: 15px;
	background: url("assets/images/github.svg") top left no-repeat;
	padding-left: 38px;
	display: block;
	line-height: 2;
	color: #333;
}
.info-box.hidden {
	transition: width .5s ease .2s, min-width .5s ease .2s, opacity .5s linear .2s, left 0s linear .6s;
	min-width: 0;
	width: 0;
	left: -100%;
	opacity: 0;
}
.info-box.hidden * {
	transition: opacity .2s linear;
	opacity: 0;
}
.info-box .button{
	box-sizing: border-box;
	float: left;
	display: block;
	margin-top: 0.6em;
	padding: 0.6em 18px;
	text-transform: uppercase;
	font-size: 0.75em;
	color: #ebedf4;
	background: #AD3726;
	font-weight: normal;
	border: 2px solid transparent;
	width: 50%;
	text-align: center;
}
.info-box .button:hover{
	transition: border .2s, background .2s, color .2s;
	border: 2px solid #AD3726;
	background: transparent;
	color: #AD3726;
}

#controls {
	position: fixed;
	bottom: 0;
	padding: 0;
	margin: 0 1vw 1vw 1vw;
	width: 98vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#controls li {

	list-style-type: none;
}
#controls li img {
	width: 80px;
	height: 80px;
	opacity: 0.3;
	transition: opacity .15s;
}
#audio-icon{
	position: fixed;
	width: 24px;
	height: 24px;
	top: 8px;
	right: 8px;
}