@viewport {
	user-zoom: fixed;
}
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Open Sans";
}

.info-box {
	width: 250px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	padding: 15px;
	background: #ebedf4;
	color: #333;
	opacity: 1;
	height: 300px;
	transition: height .5s ease, opacity .5s linear;
}
.info-box h2 {
	margin: 5px 0px;
}
.info-box a {
	text-decoration: none;
	color: #AD3726;
	font-weight: bold;
}
.info-box * {
	transition: opacity .2s linear 0.5s;
	opacity: 1;
}
.info-box .gh-image {
	position: absolute;
	bottom: 15px;
	left: 15px;
	background: url("assets/images/github.png") top left no-repeat;
	height: 30px;
	padding-left: 38px;
	display: block;
	line-height: 2;
	color: #333;
}
.info-box.hidden {
	transition: height .5s ease .2s, opacity .5s linear .2s, bottom 0s linear .7s;
	bottom: -100%;
	height: 20px;
	opacity: 0;
}
.info-box.hidden * {
	transition: opacity .2s linear;
	opacity: 0;	
}
.info-box .button{
	float: left;
	display: block;
	padding: 8px;
	text-transform: uppercase;
	font-size: 11px;
	color: #ebedf4;
	background: #AD3726;
	margin-right: 4px;
	font-weight: normal;
}
.info-box .button:hover{

}
.controls{
	position: fixed;
	width: 70px;
	height: 70px;
}
.controls#audio{
	width: 24px;
	height: 24px;
	top: 8px;
	right: 8px;
}
.controls#up{ bottom: 16px; left: 16px; }
.controls#down{ bottom: 16px; left: 102px; }
.controls#left{ bottom: 16px; right: 102px; }
.controls#right{ bottom: 16px; right: 16px; }