@viewport {
	user-zoom: fixed;
}
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Open Sans";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;   
}
.info-box {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	background: #ebedf4;
	color: #333;
	opacity: 1;
	width: 20%;
	min-width: 240px;
	transition: width .5s ease, min-width .5s ease, opacity .5s;
}
.info-box .container{
	float: left;
/*	border-top: 2px solid #AD3726;*/
}
.info-box h2 {
	margin: 0.2em 0;
}
.info-box a {
	text-decoration: none;
	color: #AD3726;
	font-weight: bold;
}
.info-box * {
	transition: opacity .2s linear 0.5s;
	opacity: 1;
}
.info-box .gh-image {
	position: absolute;
	bottom: 15px;
	left: 15px;
	background: url("assets/images/github.svg") top left no-repeat;
	padding-left: 38px;
	display: block;
	line-height: 2;
	color: #333;
}
.info-box.hidden {
	transition: width .5s ease .2s, min-width .5s ease .2s, opacity .5s linear .2s, left 0s linear .6s;
	min-width: 0;
	width: 0;
	left: -100%;
	opacity: 0;
}
.info-box.hidden * {
	transition: opacity .2s linear;
	opacity: 0;
}
.info-box .button{
	box-sizing: border-box;
	float: left;
	display: block;
	margin-top: 0.6em;
	padding: 0.6em 18px;
	text-transform: uppercase;
	font-size: 0.75em;
	color: #ebedf4;
	background: #AD3726;
	font-weight: normal;
	border: 2px solid transparent;
	width: 50%;
	text-align: center;
}
.info-box .button:hover{
	transition: border .2s, background .2s, color .2s;
	border: 2px solid #AD3726;
	background: transparent;
	color: #AD3726;
}

#controls {
	position: fixed;
	bottom: 0;
	padding: 0;
	margin: 0 1vw 1vw 1vw;
	width: 98vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#controls li {

	list-style-type: none;
}
#controls li img {
	width: 80px;
	height: 80px;
	opacity: 0.3;
	transition: opacity .15s;
}
#audio-icon{
	position: fixed;
	width: 24px;
	height: 24px;
	top: 8px;
	right: 8px;
}
.multiplayer-box{
	transition: left .4s;
	opacity: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 60%;
	height: 60%;
	min-width: 600px;
	min-height: 480px;
	margin: auto;
	padding: 15px;
	background: #ebedf4;
	color: #333;
	overflow-y: auto;
}
.multiplayer-box.hidden{
	transition: height .2s, width .2s .2s, opacity .8s, left 0s .4s;
	height: 5px;
	width: 5px;
	min-width: 0;
	min-height: 0;
	opacity: 0;
	left: -200%;
}
.multiplayer-box.hidden *{
	display: none;
}
.multiplayer-box h2, h4{
	margin: 5px 0;
}
.multiplayer-box .button{
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	margin-top: 0.6em;
	padding: 0.6em 18px;
	text-transform: uppercase;
	font-size: 0.75em;
	color: #ebedf4;
	background: #AD3726;
	font-weight: normal;
	border: 2px solid transparent;
	text-align: center;
}
.multiplayer-box #player-list{
	font-weight: bold;
	list-style-image: url("assets/images/pill_red.png");
	list-style-type: none;
}

.multiplayer-box form label{
	float: left;
	width: 100px;
}
.multiplayer-box form .placeholder{
	float: left;
	width: 100%;
	height: 20px;
	display: block;
}
.multiplayer-box form input[type="radio"] {
	width: 47px;
	height: 47px;
	margin: 8px 8px;
	display: block;
	float: left;
}
.multiplayer-box form input[type="radio"]:before{
	content: " ";
	position: relative;
	top: 0;
	left: 0;
	width: 47px;
	height: 47px;
	display: block;
	transition: -webkit-filter .3s;
	-webkit-filter: grayscale(0);
}
.multiplayer-box form input[type="radio"]:after{
	content: " ";
	box-shadow: 0 0 0 2px #555;
	border-radius: 50%;
	position: relative;
	top: -49px;
	left: -2px;
	padding: 2px;
	width: 47px;
	height: 47px;
	display: block;
	transition: transform .4s, opacity .4s;
	transform: scale(0);
	opacity: 0;
}
.multiplayer-box form input[type="radio"]:checked:after{ transform: scale(1); opacity: 1; }
.multiplayer-box form input[type="radio"]:checked:before{ -webkit-filter: grayscale(1); }
.multiplayer-box form input[type="radio"][id="playerBlue"]:before{ background: url("assets/images/alienBlue_badge.svg"); }
.multiplayer-box form input[type="radio"][id="playerBeige"]:before{ background: url("assets/images/alienBeige_badge.svg"); }
.multiplayer-box form input[type="radio"][id="playerGreen"]:before{ background: url("assets/images/alienGreen_badge.svg"); }
.multiplayer-box form input[type="radio"][id="playerPink"]:before{ background: url("assets/images/alienPink_badge.svg"); }
.multiplayer-box form input[type="radio"][id="playerYellow"]:before{ background: url("assets/images/alienYellow_badge.svg"); }