::selection{
	background: #AD3726;
	color: #c9c9c9;
}
@viewport {
	user-zoom: fixed;
}
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Open Sans";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
button {
	outline-color: #702318;
}
#controls {
	position: fixed;
	bottom: 0;
	padding: 0;
	margin: 0 1vw 1vw 1vw;
	width: 98vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#controls li {
	list-style-type: none;
}
#controls li img {
	width: 80px;
	height: 80px;
	opacity: 0.3;
	transition: opacity .15s;
}
#audio-icon{
	position: fixed;
	width: 24px;
	height: 24px;
	top: 8px;
	right: 8px;
}
.chat-input{
	position: fixed;
	bottom: 20px;
	left: 20%;
	font-size: 22px;
	background: none;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	color: #c9c9c9;
	outline: none;
	font-family: inherit;
	width: 60%;
}
.info-box {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	background: #ebedf4;
	color: #333;
	opacity: 1;
	width: 20%;
	min-width: 240px;
	transition: width .5s ease, min-width .5s ease, opacity .5s;
}
.info-box .container{
	float: left;
/*	border-top: 2px solid #AD3726;*/
}
.info-box h2 {
	margin: 0.2em 0;
}
.info-box a {
	text-decoration: none;
	color: #AD3726;
	font-weight: bold;
}
.info-box * {
	transition: opacity .2s linear 0.5s;
	opacity: 1;
}
.info-box .gh-image {
	position: absolute;
	bottom: 15px;
	left: 15px;
	background: url("assets/images/github.svg") top left no-repeat;
	padding-left: 38px;
	display: block;
	line-height: 2;
	color: #333;
}
.info-box.hidden {
	transition: width .5s ease .2s, min-width .5s ease .2s, opacity .5s linear .2s, left 0s linear .6s;
	min-width: 0;
	width: 0;
	left: -100%;
	opacity: 0;
}
.info-box.hidden * {
	transition: opacity .2s linear;
	opacity: 0;
}
.info-box .button{
	box-sizing: border-box;
	float: left;
	display: block;
	margin-top: 0.6em;
	padding: 0.6em 18px;
	text-transform: uppercase;
	font-size: 0.75em;
	color: #ebedf4;
	background: #AD3726;
	font-weight: normal;
	border: 2px solid transparent;
	width: 50%;
	text-align: center;
	cursor: pointer;
}
.info-box .button:hover{
	transition: border .2s, background .2s, color .2s;
	border: 2px solid #AD3726;
	background: transparent;
	color: #AD3726;
}
.multiplayer-box{
	transition: left .4s;
	opacity: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 60%;
	height: 60%;
	min-width: 600px;
	min-height: 480px;
	margin: auto;
	padding: 15px;
	background: #ebedf4;
	color: #333;
	overflow-y: auto;
	overflow-x: hidden;
}
.multiplayer-box.hidden{
	transition: height .2s, width .2s .2s, opacity .8s, left 0s .4s;
	height: 5px;
	width: 5px;
	min-width: 0;
	min-height: 0;
	opacity: 0;
	left: -200%;
}
.multiplayer-box.hidden *{
	display: none;
}
.multiplayer-box h4{
	display: inline-block;
	margin: 5px 0;
}
.multiplayer-box .button, button{
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	margin: 0.6em 5px;
	padding: 0.6em 18px;
	text-transform: uppercase;
	font-size: 0.75em;
	color: #ebedf4;
	background: #AD3726;
	font-weight: normal;
	border: 2px solid transparent;
	text-align: center;
}
.multiplayer-box button:disabled{
	background: #555;
}
.multiplayer-box #player-list{
	font-size: 24px;
	list-style-type: none;
	width: 100%;
}
.multiplayer-box #player-list a{
	color: #f33;
	text-decoration: none;
}
.multiplayer-box form label{
	float: left;
	width: 100px;
}
.multiplayer-box form input[type=text]{
	width: 300px;
	padding: 4px;
}
.multiplayer-box form .placeholder{
	float: left;
	width: 100%;
	height: 20px;
	display: block;
}
.multiplayer-box form .playerSelect {
	width: 47px;
	height: 47px;
	margin: 8px 8px;
	display: block;
	float: left;
	background-size: 47px 47px;
	background-position: center;
	border-radius: 5px;
	transition: background-size .1s;
}
.multiplayer-box form .playerSelect:hover {
	background-size: 85px 85px;
}

.multiplayer-box form #playerBlue {background-image: url("assets/images/alienBlue_badge.svg");}
.multiplayer-box form #playerBeige {background-image: url("assets/images/alienBeige_badge.svg");}
.multiplayer-box form #playerGreen {background-image: url("assets/images/alienGreen_badge.svg");}
.multiplayer-box form #playerPink {background-image: url("assets/images/alienPink_badge.svg");}
.multiplayer-box form #playerYellow {background-image: url("assets/images/alienYellow_badge.svg");}

.multiplayer-box #key-info {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 8px;
	float: left;
}
.multiplayer-box #key-settings {
	width: 650px;
	text-align: left;
	border-collapse: collapse;
	cursor: pointer;
	margin-bottom: 16px;
}
.multiplayer-box #key-settings #key-action{
	width: 140px;
}
.multiplayer-box #key-settings tr{
	transition: background .2s, color .2s;
}
.multiplayer-box #key-settings tr:not(#key-header):not(.selected):hover{
	background: #AD3726;
	color: #ddd;
}
.multiplayer-box #key-settings  tr.selected{
	background: #178e3a;
	color: #ddd;
}


.loader {
	-webkit-padding-start: 0;
	font-size: 100px;
	width: 1em;
	height: 1em;
	margin: 100px auto;
	position: relative;
	list-style: none;
}
.loader li {
	width: .2em;
	height: .2em;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 50%;
	margin-left: -.1em;
	transform-origin: 50% 250%;
}
.loader li:nth-child(1) {
	background: #e5d9be;
	animation: rota 1.33s linear infinite;
}

.loader li:nth-child(2) {
	background: #a2c2ea;
	animation: rota 1.86s linear infinite;
}

.loader li:nth-child(3) {
	background: #8aceb9;
	animation: rota 1.45s linear infinite;
}

.loader li:nth-child(4) {
	background: #f19cb7;
	animation: rota 1.72s linear infinite;
}
.loader li:nth-child(5) {
	background: #fed532;
	animation: rota 2s linear infinite;
}

@keyframes rota {
    to { transform: rotate(360deg); }
}