@viewport {
	user-zoom: fixed;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	src: local("Open Sans"), url("https://jumpsuit.space/assets/fonts/open_sans_40.woff2") format("woff2"), url("https://jumpsuit.space/assets/fonts/open_sans_40.woff") format("woff");
}
html {
	background-image: url("https://jumpsuit.space/assets/images/background.png");
}
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Open Sans", Tahoma, sans-serif;
}
html, body, button, label, #gui-chat-player-list, table thead, #key-settings, .weapon-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body.nogui *[id^=gui]{
	display: none;
}
#menu-box, #settings-box, #info-box, #blocked-port-box, #device-not-supported, #device-untested {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
#gui-fuel, #gui-health, #gui-chat, #gui-points, #gui-controls, #gui-warmup {
	pointer-events: none;
}
#gui-controls li img {
	pointer-events: auto;
}
#port-number {
	font-weight: bold;
}
#gui-minimap-canvas {
	position: fixed;
	top: 52px;
	right: 8px;
	border-radius: 3px;
	border: 2px solid white;
}
#gui-bad-connection.hidden, #gui-warmup.hidden, #gui-chat-player-list.hidden, #team-list.hidden, .search-hidden, #lobby-table.hidden, #player-table.hidden, #shade-box.hidden {
	display: none;
}
.fa {
	margin-right: 2px;
}
a {
	color: #ad3726;
	text-decoration: none;
	font-weight: bold;
}
a.gh-image {
	color: black;
	background: url("https://jumpsuit.space/assets/images/github.svg") top left no-repeat;
	padding-left: 2.3em;
	line-height: 2;
	height: 2.3em;
	display: inline-block;
}
button {
	outline-color: #702318;
	box-sizing: border-box;
	cursor: pointer;
	margin: .25rem;
	padding: .5rem;
	min-width: 100px;
	text-transform: uppercase;
	font-size: .75rem;
	color: #ebedf4;
	background: #ad3726;
	font-weight: normal;
	border: 2px solid #ad3726;
	text-align: center;
	transition: background .2s, color .2s;
}
button:disabled {
	background: #555;
	cursor: not-allowed;
	border-color: #555;
}
button:hover {
	background: #ebedf4;
	color: #ad3726;
}
button:disabled:hover {
	background: #ebedf4;
	color: #555;
}
.flex-container {
	display: flex;
	justify-content: space-around;
}
input[type=text] {
	outline: none;
	border: 1px solid #888;
}
input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 250px;
	outline: none;
	background: transparent;
	height: 20px;
	margin-bottom: 15px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #ad3726;
	background: white;
	margin-top: -7px;
}
input[type=range]::-moz-range-thumb {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #ad3726;
	background: white;
	margin-top: -7px;
}
input[type=range]::-ms-thumb {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #ad3726;
	background: white;
	margin-top: -7px;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2.4px;
	background: #ccc;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 2.4px;
	background: #ccc;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 2.4px;
	cursor: pointer;
	background: #ccc;
	border-color: transparent;
	color: transparent;
}
input[type=range]:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
input[type=checkbox] {
	position: relative;
}
input[type=checkbox]::before {
	content: " ";
	height: 14px;
	width: 14px;
	display: block;
	border-radius: 50%;
	border: 2px solid #ad3726;
	background: white;
	position: absolute;
	top: 6px;
	left: 6px;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
input[type=checkbox]::after {
	content: " ";
	transition: transform .15s .1s, opacity .2s;
	opacity: 0;
	display: block;
	width: 10px;
	height: 10px;
	background: #ad3726;
	border-radius: 50%;
	position: absolute;
	top: 6px;
	left: 6px;
	transform: translate(-50%, -50%) scale(0);
}
input[type=checkbox]:checked::after {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}
/*
=== NOT IN USE ===
label.checkbox-label[data-beta]::after {
	font-size: 10px;
	content: "BETA";
	display: inline-block;
	color: #666;
	position: relative;
	left: 3px;
	top: -10px;
}
*/
label.checkbox-label {
	display: block;
	margin: 8px 2px;
	cursor: pointer;
}
label {
	min-width: 150px;
	margin: 0 8px 8px 0;
	display: inline-block;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	border-radius: 4px;
	margin: 4px 0;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #555;
}

/* On-screen controls */
#gui-controls {
	position: fixed;
	bottom: 0;
	padding: 0;
	margin: 0 1vw 1vw;
	width: 98vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#gui-controls li {
	list-style-type: none;
}
#gui-controls li img {
	width: 80px;
	height: 80px;
	opacity: .3;
	transition: opacity .15s;
}
#name {
	margin: 0;
	padding: 4px;
	outline: none;
	width: 230px;
}

#gui-chat-input-container {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1000px;
	width: calc(100vw - 420px);
}
#gui-chat-input {
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	font-size: 1.375em;
	background: none;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	color: #c9c9c9;
	outline: none;
	font-family: inherit;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#gui-chat-input:focus {
	background: rgba(0, 0, 0, .3);
}
#gui-chat-player-list {
	cursor: inherit;
	font-size: .9em;
	background: rgba(235, 237, 244, .2);
	border-radius: 4px;
	list-style-type: none;
	position: relative;
	padding: 22px 8px 8px;
	display: flex;
	flex-wrap: wrap;
}
#gui-chat-player-list::before {
	position: absolute;
	top: 5px;
	content: attr(data-desc);
	margin-right: 5px;
	color: rgba(255, 255, 255, .2);
	font-size: .8em;
	text-transform: uppercase;
}
#gui-chat-player-list::after {/* CSS arrow trick */
	content: " ";
	position: absolute;
	display: block;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid rgba(235, 237, 244, .2);
	bottom: -8px;
	left: 19px;
}
#gui-chat-player-list li {
	min-width: 100px;
	cursor: default;
	flex-grow: 0;
	overflow: hidden;
	padding: 0 4px;
}
#shade-box {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}
#settings-box, #info-box, #blocked-port-box, #device-not-supported, #device-untested {
	padding: 14px;
	transition: transform .3s, opacity .3s;
	transform: scale(1);
	transform-origin: 50% 50%;
	opacity: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #ebedf4;
	color: #333;
	box-shadow: 0 0 13px 0 black;
	width: 80vw;
	max-width: 1000px;
	min-width: 810px;
	max-height: 90vh;
}
#settings-box.hidden, #info-box.hidden, #blocked-port-box.hidden, #device-not-supported.hidden, #device-untested.hidden {
	transform: scale(0);
	opacity: 0;
}
#settings-box {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
#settings-box > div:nth-of-type(1) {
	flex-grow: 1;
	max-width: 280px;
}
#settings-box > div:nth-of-type(2) {
	flex-grow: 3;
	flex-basis: 0;
	min-width: 500px;
}
#settings-box label {
	min-width: 120px;
	margin: 0 8px 8px 0;
	display: inline-block;
}
#settings-box .weaponry-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#settings-box .weapon-select {
	position: relative;
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
	flex-shrink: 1;
	width: 15em;
	margin: 2px;
}
#settings-box .weapon-select:active, #settings-box .weapon-select:hover {
	background: rgba(0, 0, 0, .25);
}
#settings-box .weapon-select span {
	display: block;
	font-weight: 600;
	width: 100%;
	text-align: center;
}
#settings-box .weapon-select img {
	max-height: 3.125em;
	width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#settings-box > h2, #info-box > h2 {
	display: block;
	text-align: center;
	margin-bottom: .5rem;
	margin-top: 0;
	width: 100%;
}
#settings-box > button, #info-box > button {
	position: absolute;
	top: .5%;
	right: .5%;
}

#menu-box {
	transition: transform .3s, opacity .3s;
	transform: scale(1);
	transform-origin: 50% 50%;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	background: #ebedf4;
	color: #333;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100vw;
	height: 100vh;
}
#menu-box.hidden {
	transform: scale(0);
	opacity: 0;
	display: block;
}
#menu-box div:first-child {
	flex-grow: 1;
	order: 1;
}
#lobby-table {
	width: 100%;
	font-size: 1.25em;
	border-collapse: collapse;
	table-layout: fixed;
	display: inline-table;
	vertical-align: top;
	overflow-y: auto;
}
#lobby-table thead {
	color: #ebedf4;
	background-color: #ad3726;
}
#lobby-table th {
	padding: 1em;
	text-transform: uppercase;
}
#lobby-table th:last-child {
	width: 7em;
}
#lobby-table th img {
	width: 1em;
	height: 1em;
}
#lobby-list tr {
	font-weight: 600;
}
#lobby-list tr:nth-child(even) {
	background-color: rgba(0, 0, 0, .1);
}
#lobby-list tr td:first-child {
	text-align: left;
	padding-left: 1.8%;
}
#lobby-list tr td {
	text-align: center;
	word-wrap: break-word;
}
#lobby-list tr td u {
	color: #ad3726;
}
#lobby-list:empty::before {
	content: "No servers found :(";
	padding: 1em 0 1em 2em;
	font-style: italic;
	display: block;
	color: #777;
}
/* #lobby-list button {
	text-transform: none;
}
#lobby-list input {
	font-size: 1.17em;
}
#lobby-list input[type=text] {
	width: 100%;
	text-align: center;
	max-width: 100%;
}
#lobby-list input[type=number] {
	padding-left: 3px;
	width: 3.5ex;
	font-weight: 600;
} */


#player-table {
	width: 100%;
	box-sizing: border-box;
	font-size: 1.25em;
	padding: 1rem;
	position: relative;
}
#player-table > button {
	position: absolute;
	top: 0;
	right: 2em;
}
#lobby-status { margin-bottom: .75em; }
#lobby-status::before {
	content: "Status: ";
	font-weight: bold;
	color: #ad3726;
}
#player-list {
	width: 100%;
	max-width: 1200px;
	list-style-type: none;
}
#player-list li:first-child {
	border-top: 1px solid #bfbfbf;
}
#player-list li {
	padding: .5em 0 .5em 1em;
	border-bottom: 1px solid #bfbfbf;
}


#sidebar {
	flex-grow: 0;
	order: 2;
	min-width: 261px;
}
#sidebar-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#sidebar-buttons > button {
	flex-grow: 1;
}
#search-filter {
	display: block;
	padding: 5px;
}
#search-filter h1 {
	margin: 12.5px 0;
	text-align: center;
}
#search-input {
	padding: 2px;
	box-sizing: border-box;
	font-size: 1.25em;
	width: 250px;
}
#key-settings {
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	cursor: pointer;
	border: .5em solid rgba(0, 0, 0, 0);
	margin-top: .75em;
}
#key-settings #key-action {
	width: 140px;
}
#key-settings tr {
	transition: background .2s, color .2s;
	outline: 2px dashed rgba(0, 0, 0, 0);
}
#key-settings td {
	padding: 3px;
}
#key-settings tr:not(.selected):hover {
	background: #ad3726;
	color: #ddd;
}
#key-settings tr.selected {
	outline-color: #ad3726;
}
#gui-chat-first {
	height: 1px;
}
#gui-chat {
	overflow: hidden;
	position: fixed;
	top: 95px;
	left: 18px;
	font-size: .875em;
	width: 300px;
	height: calc(100vh - 4vh - 270px); /* div ends 15px above controls */
	text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}
#gui-chat p {
	margin: 2px 0;
	display: block;
	color: #eee;
	word-wrap: break-word;
}
#gui-chat p.server{	color: #fff37f; }
#gui-chat p b.alienBeige{ color: #e5d9be; }
#gui-chat p b.alienBlue{ color: #a2c2ea; }
#gui-chat p b.alienGreen{ color: #8aceb9; }
#gui-chat p b.alienPink{ color: #f19cb7; }
#gui-chat p b.alienYellow{ color: #fed532; }
#gui-fuel {
	position: fixed;
	top: 50px;
	left: 8px;
	height: 10px;
	width: 200px;
	background: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
#gui-fuel::-webkit-meter-bar {
	background: transparent;
	-webkit-appearance: none;
	display: inline-block;
	position: relative; /* shitty hack */
	bottom: 20px;
	left: 77px;
}
#gui-fuel::-moz-meter-bar {
	background: #5493ce;
}
#gui-fuel::-webkit-meter-optimum-value, #gui-fuel::-webkit-meter-suboptimum-value, #gui-fuel::-webkit-meter-even-less-good-value {
	background: #5493ce;
}
#gui-fuel::before {
	content: "Fuel:";
	color: white;
	width: 77px;
	display: inline-block;
}
#gui-health {
	height: 1.41em;
	position: fixed;
	top: 20px;
	left: 8px;
	color: #eee;
}
#gui-health::before {
	content: "Health:";
	width: 77px;
	display: inline-block;
	position: relative;
	top: -5px;
	right: 0;
}
#gui-health div {
	background-size: 100% 100%;
	display: inline-block;
	width: 1.625em;
	height: 1.41em;
}
#gui-health div.heartFilled { background-image: url("https://jumpsuit.space/assets/images/heartFilled.svg"); }
#gui-health div.heartHalfFilled { background-image: url("https://jumpsuit.space/assets/images/heartHalfFilled.svg"); }
#gui-health div.heartNotFilled { background-image: url("https://jumpsuit.space/assets/images/heartNotFilled.svg"); }

#gui-bad-connection, #gui-warmup {
	font-size: 2.75em;
	position: fixed;
	top: 20%;
	left: 50%;
	max-width: 70vw;
	transform: translate(-50%, -50%);
	color: #eee;
}
#gui-bad-connection i {
	color: #bc4937;
	vertical-align: middle;
}
#gui-bad-connection::after {
	position: absolute;
	top: 100%;
	display: block;
	font-size: 1.2rem;
	text-align: center;
	content: "The server hasn't send a package for 500ms, your connection is probably interrupted or dead.";
}
#gui-warmup {
	text-align: center;
}
#gui-warmup i {
	color: green;
}
#gui-points {
	position: fixed;
	top: 4px;
	left: 50%;
	transform: translateX(-50%);
	color: #eee;
	font-size: 1.75em;
	background: rgba(0, 0, 0, .7);
	min-height: none;
}
#gui-points div {
	display: inline-block;
	width: 4em;
	font-weight: bold;
	padding: .1em 0;
	text-align: center;
}
#gui-points-alienBeige { color: #e5d9be; }
#gui-points-alienBlue { color: #a2c2ea; }
#gui-points-alienGreen { color: #8aceb9; }
#gui-points-alienPink { color: #f19cb7; }
#gui-points-alienYellow { color: #fed532; }

#gui-options {
	position: fixed;
	top: 0;
	right: 8px;
}
#gui-options button {
	margin: 6px 2px;
}
#gui-message {
	background: black;
	color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7);
	padding: 14px;
	min-width: 120px;
	width: 30vw;
	max-width: 200px;
	position: fixed;
	top: 47px;
	right: 0;
	font-size: .875em;
	transform: translateX(0);
	transition: transform .5s;
}
#gui-message.hidden {
	transform: translateX(100%);
}
#gui-message::before {
	display: block;
	content: attr(data-title);
	font-size: 1.3em;
	margin-right: 50px;
}
#gui-message::after {
	content: attr(data-desc);
	font-weight: bold;
	color: #4dbb63;
}
