@viewport {
	user-zoom: fixed;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url("/assets/fonts/open_sans_400.woff2") format("woff2"), url("/assets/fonts/open_sans_400.woff") format("woff");
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url("/assets/fonts/open_sans_300.woff2") format('woff2');
}
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Open Sans", Tahoma, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);/*GPU boost*/
}
html {
	background-image: url("/assets/images/background.png");
}
canvas.motionBlur{
	filter: url("#MotionBlur");
	-webkit-filter: url("#MotionBlur");
}
button {
	outline-color: #702318;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	margin: 5px;
	padding: 8px;
	min-width: 110px;
	text-transform: uppercase;
	font-size: 0.75em;
	color: #ebedf4;
	background: #AD3726;
	font-weight: normal;
	border: 2px solid #AD3726;
	text-align: center;
	transition: background .2s, color .2s;
}
button:disabled {
	background: #555;
	cursor: not-allowed;
	border-color: #555;
}
button:hover{
	background: #ebedf4;
	color: #AD3726;
}
button:disabled:hover{
	background: #ebedf4;
	color: #555;
}
input[type=range] {
	-webkit-appearance: none;
	width: 250px;
	outline: none;
	background: transparent;
	height: 20px;
	margin-bottom: 15px;
}
input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #AD3726;
	background: #fff;
	margin-top: -7px;
}
input[type=range]::-moz-range-thumb {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #AD3726;
	background: #fff;
	margin-top: -7px;
}
input[type=range]::-ms-thumb {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #AD3726;
	background: #fff;
	margin-top: -7px;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2.4px;
	background: #ccc;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 2.4px;
	background: #ccc;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 2.4px;
	background: #ccc;
}
input[type=range]:active{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
input[type=checkbox]:before{
	content: " ";
	height: 14px;
	width: 14px;
	display: block;
	border-radius: 50%;
	border: 2px solid #AD3726;
	background: #fff;
	position: relative;
	top: -3px;
	left: -3px;		
	cursor: pointer;
}
input[type=checkbox]:after{
	content: " ";
	transition: transform .15s .1s, opacity .2s;
	transform: scale(0.4);
	opacity: 0;
	display: block;
	width: 10px;
	height: 10px;
	background: #AD3726;
	border-radius: 50%;
	position: relative;
	top: -17px;
	left: 1px;
}
input[type=checkbox]:checked:after{
	transform: scale(1);
	opacity: 1;
} 
label.checkbox-label{
	margin-left: 5px;
	cursor: pointer;
}
#controls {
	position: fixed;
	bottom: 0;
	padding: 0;
	margin: 0 1vw 1vw 1vw;
	width: 98vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#controls li {
	list-style-type: none;
}
#controls li img {
	width: 80px;
	height: 80px;
	opacity: 0.3;
	transition: opacity .15s;
}
#name {
	display: block;
	margin: 0;
	padding: 4px;
	outline: none;
	width: 230px;
}
#appearance-box {
	display: inline-block;
	width: 500px;
}
#appearance-box .playerSelect {
	width: 47px;
	height: 47px;
	margin: 8px 8px;
	display: block;
	float: left;
	background-size: 47px 47px;
	background-position: center;
	border-radius: 5px;
	transition: background-size .1s;
}
#appearance-box .playerSelect:hover {
	background-size: 85px 85px;
}
#appearance-box #playerBlue {background-image: url("/assets/images/alienBlue_badge.svg");}
#appearance-box #playerBeige {background-image: url("/assets/images/alienBeige_badge.svg");}
#appearance-box #playerGreen {background-image: url("/assets/images/alienGreen_badge.svg");}
#appearance-box #playerPink {background-image: url("/assets/images/alienPink_badge.svg");}
#appearance-box #playerYellow {background-image: url("/assets/images/alienYellow_badge.svg");}
#gui-chat.hidden, #gui-health.hidden, #gui-fuel.hidden, #gui-bad-connection.hidden, #gui-ping.hidden, #gui-points.hidden {
	display: none;
}
#gui-chat-first{
	height: 1px;
}
.chat-input {
	position: fixed;
	bottom: 20px;
	left: 20%;
	font-size: 22px;
	background: none;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	color: #c9c9c9;
	outline: none;
	font-family: inherit;
	width: 60%;
}
.menu-box{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #ebedf4;
	color: #333;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.menu-box.hidden{
	display: none;
}
.menu-head {
	display: block;
	width: 100%;
	height: 7%;
	background-color: #AD3726;
	color: #fff;
}
.menu-head ul {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	max-width: calc(100% - 50px);
	height: 100%;
}
.menu-head ul li {
	float: left;
	height: 100%;
}
.menu-head ul li button, #close-menu {
	height: 100%;
	margin: 0;
	padding: 0 1ch;
	outline: none;
	border: none;
	border-radius: 2px 2px 0 0;
	font-size: 1.9rem;
	font-weight: 300;
}
.menu-head ul li button:disabled {
	background-color: #EBEDF4;
	color: #555555;
}
.menu-head ul li button:disabled + .menu-head ul li button {
	border-radius: 0 0 0 2px;
}
.menu-head #close-menu {
	float: right;
}
.menu-box-tab {
	transition: left .3s;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	top: 0;
	left: 0;
	padding: 8px;
}
.menu-box-tab.hidden {
	display: none;
}
.menu-box-tab a {
	color: #AD3726;
	text-decoration: none;
	font-weight: bold;
}
.menu-box-tab a:active {
	color: #AD3726;
}
.menu-box-tab a.gh-image {
	color: black;
}
.menu-box-tab label {
	display: inline-block;
	margin-right: 8px;
	min-width: 150px;
}
#tabInfo div {
	display: inline-block;
	vertical-align:top;
}
.splitContainer{
	float: left;
	max-width: 50%;
	padding: 0 5px;	
	box-sizing: border-box;
}
.gh-image {
	background: url("/assets/images/github.svg") top left no-repeat;
	padding-left: 38px;
	line-height: 2;
	height: 38px;
	display: inline-block;
}
#player-list {
	font-size: 24px;
	list-style-type: none;
	width: 100%;
}
#player-list a {
	color: #f33;
	text-decoration: none;
}
#key-settings {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	cursor: pointer;
	margin-bottom: 16px;
}
#key-settings #key-action {
	width: 140px;
}
#key-settings tr{
	transition: background .2s, color .2s;
}
#key-settings tr:not(#key-header):not(.selected):hover{
	background: #AD3726;
	color: #ddd;
}
#key-settings tr.selected {
	background: #178e3a;
	color: #ddd;
}
#dialog,
#dialog-backdrop {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
#dialog #dialog-backdrop {
	position: absolute;
	background: rgba(55, 58, 71, 0.9);
	-webkit-backface-visibility: hidden;
}
#dialog .dialog-content {
	width: 50%;
	max-width: 560px;
	min-width: 290px;
	background: #fff;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 2;
}
#dialog.hidden {
	display: none;
}
#dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	margin-bottom: 50px;
}
#dialog input[type="text"]{
	padding: 8px;
	width: calc(100% - 20px); /*substract padding and border*/
	font-size: 22px;
	margin-bottom: 20px
}
#gui-ping{
	position: fixed;
	top: 8px;
	right: 30px;
	left: calc(100% - 158px);
	color: #eee;
}
#gui-ping:before{
	line-height: 100%;
	height: 22.5px;
	content: "Latency: ";
	width: 80px;
	display: inline-block;
}
#gui-chat:empty:before{
	cursor: inherit;
	position: relative;
	left: 50%;
	content: "No messages";
	color: rgba(120, 120, 120, 0.8);
	font-size: 14px;
	width: 120px;
	margin-left: -60px;
}
#gui-chat{
	position: fixed;
	top: 95px;
	left: 18px;
	font-size: 14px;
	width: 300px;
	height: 60%;
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}
#gui-chat.no-select{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#gui-chat p{
	margin: 2px 0;
	display: block;
	color: #eee;
}
#gui-chat p.server{	color: #fff37f; }
#gui-chat p b.alienBeige{ color: #e5d9be; }
#gui-chat p b.alienBlue{ color: #a2c2ea; }
#gui-chat p b.alienGreen{ color: #8aceb9; }
#gui-chat p b.alienPink{ color: #f19cb7; }
#gui-chat p b.alienYellow{ color: #fed532; }
#gui-fuel {
	position: fixed;
	top: 58px;
	left: 8px;
	color: #eee;
}
#gui-health {
	height: 22.5px;
	position: fixed;
	top: 20px;
	left: 8px;
	color: #eee;
}
#gui-health:before{
	line-height: 100%;
	height: 22.5px;
	content: "Health:";
	width: 77px;
	display: inline-block;
}
#gui-health div {
	background-size: 100% 100%;
	display: inline-block;
	width: 26px;
	height: 22.5px;
}
#gui-health div.heartFilled { background-image: url("/assets/images/heartFilled.svg"); }
#gui-health div.heartHalfFilled { background-image: url("/assets/images/heartHalfFilled.svg"); }
#gui-health div.heartNotFilled { background-image: url("/assets/images/heartNotFilled.svg"); }

#gui-fuel:before {
	content: "Fuel:";
	width: 77px;
	display: inline-block;
}
#gui-fuel #gui-fuel-value{
	display: inline-block;
	height: 10px;
	background: #5493ce;
}
#gui-bad-connection{
	font-size: 44px;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-top: -180px;
	margin-left: -250px;
	color: #eee;
}
#gui-points{
	position: fixed;
	top: 4px;
	left: 50%;
	width: 440px;
	margin-left: -220px;
	color: #eee;
	font-size: 32px;
	background: rgba(0, 0, 0, 0.7);
}
#gui-points th{
	width: 50px;
}
#gui-points-alienBeige{ color: #e5d9be; }
#gui-points-alienBlue{ color: #a2c2ea; }
#gui-points-alienGreen{ color: #8aceb9; }
#gui-points-alienPink{ color: #f19cb7; }
#gui-points-alienYellow{ color: #fed532; }

#piano{
	position: fixed;
	top: 100%;
	left: 50%;
	background-image: url("/assets/images/piano.png");
	width: 250px;
	height: 143px;
	margin-left: -125px;
	transition: top .5s;
}
#piano.playing{
	top: 20%;
	animation: piano-playing 2s .7s;
}

@keyframes piano-playing {
	0% {background-image: url("/assets/images/piano.png"); }
	10% {background-image: url("/assets/images/piano2.png"); }
	60% {background-image: url("/assets/images/piano2.png"); }
	70% {background-image: url("/assets/images/piano3.png"); }
	90% {background-image: url("/assets/images/piano3.png"); }
	100% {background-image: url("/assets/images/piano.png"); }
}

