@viewport {
	user-zoom: fixed;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), url("/assets/fonts/open_sans_400.woff2") format("woff2"), url("/assets/fonts/open_sans_400.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), url("/assets/fonts/open_sans_300.woff2") format('woff2');
}
html, body {
	font-size: 16px;
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Open Sans", Tahoma, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);/*GPU boost*/
}
#menu-box, #settings-box, #info-box {
	overflow-y: auto;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
#gui-fuel, #gui-health, #gui-chat, #gui-points, #controls {
	pointer-events: none;
}
#controls li img {
	pointer-events: auto;
}
html {
	background-image: url("/assets/images/background.png");
}
#canvas.boosted {
	transform: scale3d(2, 2, 1);
	transform-origin: 0 0;
}
#canvas.motionBlur {
	filter: url("#MotionBlur");
	-webkit-filter: url("#MotionBlur");
}
#minimap-canvas {
	position: fixed;
	top: 52px;
	right: 8px;
	border-radius: 3px;
	border: 2px solid #fff;
}
#minimap-overlay{
	display: none;
	position: fixed;
	top: 54px;
	right: 10px;
	width: 150px;
	height: 150px;
	background: rgba(66, 66, 66, 0.5);
	color: #fff;
	font-size: 130px;
	text-align: center;
}
#minimap-overlay i { position: relative; top: -13px;}
#gui-bad-connection.hidden, #player-list.hidden, #team-list.hidden, .search-hidden, .empty-lobby-hidden {
	display: none;
}
i {
	margin-right: 2px;
}
a {
	color: #AD3726;
	text-decoration: none;
	font-weight: bold;
}
a:active {
	color: #AD3726;
}
a.gh-image {
	color: black;
	background: url("/assets/images/github.svg") top left no-repeat;
	padding-left: 38px;
	line-height: 2;
	height: 38px;
	display: inline-block;
}
button {
	outline-color: #702318;
	box-sizing: border-box;
	cursor: pointer;
	margin: 5px;
	padding: 8px;
	min-width: 100px;
	text-transform: uppercase;
	font-size: 0.75em;
	color: #ebedf4;
	background: #AD3726;
	font-weight: normal;
	border: 2px solid #AD3726;
	text-align: center;
	transition: background .2s, color .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
button:disabled {
	background: #555;
	cursor: not-allowed;
	border-color: #555;
}
button:hover {
	background: #ebedf4;
	color: #AD3726;
}
button:disabled:hover {
	background: #ebedf4;
	color: #555;
}
input[type=range] {
	-webkit-appearance: none;
	width: 250px;
	outline: none;
	background: transparent;
	height: 20px;
	margin-bottom: 15px;
	display: block;
}
input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #AD3726;
	background: #fff;
	margin-top: -7px;
}
input[type=range]::-moz-range-thumb {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #AD3726;
	background: #fff;
	margin-top: -7px;
}
input[type=range]::-ms-thumb {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #AD3726;
	background: #fff;
	margin-top: -7px;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2.4px;
	background: #ccc;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 2.4px;
	background: #ccc;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 2.4px;
	background: #ccc;
}
input[type=range]:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
input[type=checkbox]::before {
	content: " ";
	height: 14px;
	width: 14px;
	display: block;
	border-radius: 50%;
	border: 2px solid #AD3726;
	background: #fff;
	position: relative;
	top: -3px;
	left: -3px;		
	cursor: pointer;
}
input[type=checkbox]::after {
	content: " ";
	transition: transform .15s .1s, opacity .2s;
	transform: scale(0.4);
	opacity: 0;
	display: block;
	width: 10px;
	height: 10px;
	background: #AD3726;
	border-radius: 50%;
	position: relative;
	top: -17px;
	left: 1px;
}
input[type=checkbox]:checked::after {
	transform: scale(1);
	opacity: 1;
}
label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*
=== NOT IN USE ===
label.checkbox-label[data-beta]::after {
	font-size: 10px;
	content: "BETA";
	display: inline-block;
	color: #666;
	position: relative;
	left: 3px;
	top: -10px;
}
*/
label.checkbox-label {
	display: block;
	margin: 8px 2px;
	cursor: pointer;
}
label.range-label {
	min-width: 150px;
	margin: 0 8px 8px 0;
	display: inline-block;
}
::-webkit-scrollbar {
	width: 8px;	
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 4px;
	border-radius: 4px;
	margin: 4px 0; 
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	border-radius: 4px;
	background: #555; 
}

/* On-screen controls */
#controls {
	position: fixed;
	bottom: 0;
	padding: 0;
	margin: 0 1vw 1vw 1vw;
	width: 98vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#controls li {
	list-style-type: none;
}
#controls li img {
	width: 80px;
	height: 80px;
	opacity: 0.3;
	transition: opacity .15s;
}
#refresh {
	outline: none;
	font-size: inherit;
}
#name {
	display: block;
	margin: 0;
	padding: 4px;
	outline: none;
	width: 230px;
}

#chat-input-container {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1000px;
	width: calc(100vw - 420px);
}
#chat-input {
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	font-size: 1.375em;
	background: none;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	color: #c9c9c9;
	outline: none;
	font-family: inherit;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#chat-input:focus {
	background: rgba(0, 0, 0, 0.3);	
}
#player-list {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: inherit;
	font-size: 0.9em;
	background: rgba(235, 237, 244, 0.2);
	border-radius: 4px;
	list-style-type: none;
	position: relative;
	padding: 22px 8px 8px 8px;	
	display: flex;
	flex-wrap: wrap;
}
#player-list::before {
	position: absolute;
	top: 5px;
	content: attr(data-desc);
	margin-right: 5px;
	color: rgba(255, 255, 255, 0.2);
	font-size: 0.8em;
	text-transform: uppercase;
}
#player-list::after {/* CSS arrow trick */
	content: " ";
    position: absolute;
	display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(235, 237, 244, 0.2);
	bottom: -8px;
	left: 19px;
}
#player-list li {
	min-width: 100px;	
	cursor: default;
	flex-grow: 0;
	overflow: hidden;
}
#shade-box {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);	
}
#shade-box.hidden {
	display: none;
}
#settings-box, #info-box {
	padding: 14px;
	transition: transform .3s, opacity .3s;
	transform: scale(1) translate(-50%, -50%);
	transform-origin: 0 0;
	opacity: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #ebedf4;
	color: #333;
	box-shadow: 0 0 13px 0 black;
	min-width: 600px;
	min-height: 400px;
	width: calc(100% - 300px);
	height: calc(100% - 190px);
	max-width: 900px;
}
#settings-box.hidden, #info-box.hidden {
	display: block;
	transform: scale(0) translate(-50%, -50%);
	opacity: 0;
}
#settings-box > h2, #info-box > h2 {
	display: block;
	text-align: center;
	margin-bottom: 0.5rem;
	margin-top: 0;
}
#settings-box > button, #info-box > button {
	position: absolute;
	top: 0.5%;
	right: 0.5%;
}
#settings-box h3, #info-box h3 {
	float: left;
	width: 100%;
}
#menu-box {
	transition: transform .3s, opacity .3s;
	transform: scale(1);
	transform-origin: 50% 50%;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #ebedf4;
	color: #333;
}
#menu-box.hidden {
	transform: scale(0);
	opacity: 0;
	display: block;
}
.splitContainer {
	float: left;
	max-width: calc(100% - 330px);
	min-width: 260px;
	padding: 0 8px;	
	box-sizing: border-box;
}
#lobby-table {
	font-size: 1.25em;
	max-width: calc(100% - 190px);
	width: calc(80% - 10px);
	min-width: calc(100% - 290px);
	border-collapse: collapse;
	table-layout: fixed;
	display: inline-table;
	vertical-align: top;
	overflow-y: auto;
}
#lobby-table thead {
	color: #ebedf4;
	background-color: #AD3726;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#lobby-table th {
	padding: 0.25em;
	text-transform: uppercase;
}
#lobby-table th:last-child {
	width: 150px;
}
#lobby-table th img {
	width: 1em;
	height: 1em;
}
#lobby-list tr {
	font-weight: 600;
}
#lobby-list tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}
#lobby-list tr td:first-child {
	text-align: left;
	padding-left: 1.8%;
}
#lobby-list tr td {
	text-align: center;
	word-wrap: break-word;
}

#lobby-list button {
	text-transform: none;
}
#lobby-list input {
	font-size: 1.17em;
}
#lobby-list input[type=text] {
	width: 100%;
	text-align: center;
	max-width: 100%;
}
#lobby-list input[type=number] {
	padding-left: 3px;
	width: 3.5ex;
	font-weight: 600;
}
#search-filter {
	display: inline-block;
	min-width: 180px;
	width: 20%;
	max-width: 280px;
	margin: 0 auto;
}
#search-filter h1{
	margin: 12.5px 0;
	text-align: center;
}
#search-filter label {
	display: block;
	font-size: 1em;
	font-weight: normal;
	margin: 0.5em 0px;
}
#search-input {
	margin-top: 12px;
	padding: 2px;
	width: calc(100% - 8px);
	font-size: 1.25em;
}

#team-list {
	list-style-type: none;
	font-size: 1.125em;
	padding: 0;
	width: 565px;
	margin: 0 auto;
}
#team-list li {
	display: inline-block;
	margin: 10px;
	width: 88px;
	text-align: center;
}
#team-list li img {
	width: 88px;
	height: 88px;
}
#key-settings {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	cursor: pointer;
	margin: 4px 8px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#key-settings #key-action {
	width: 140px;
}
#key-settings tr {
	transition: background .2s, color .2s, border-color .2s;
}
#key-settings td {
	padding: 3px;
}
#key-settings tr:not(.selected):hover {
	background: #AD3726;
	color: #ddd;
}
#key-settings tr.selected {
	border: 2px dashed #AD3726;
}
#key-settings tr.selected td {
	padding: 2px 2px;
}
#gui-ping {
	position: fixed;
	top: 8px;
	right: 30px;
	left: calc(100% - 158px);
	color: #eee;
}
#gui-ping::before {
	line-height: 100%;
	height: 22.5px;
	content: "Latency: ";
	width: 80px;
	display: inline-block;
}
#gui-chat-first {
	height: 1px;
}
#gui-chat {
	position: fixed;
	top: 95px;
	left: 18px;
	font-size: 0.875em;
	width: 300px;
	height: calc(100vh - 4vh - 270px); /*div ends 15px above controls*/
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}
#gui-chat p {
	margin: 2px 0;
	display: block;
	color: #eee;
}
#gui-chat p.server{	color: #fff37f; }
#gui-chat p b.alienBeige{ color: #e5d9be; }
#gui-chat p b.alienBlue{ color: #a2c2ea; }
#gui-chat p b.alienGreen{ color: #8aceb9; }
#gui-chat p b.alienPink{ color: #f19cb7; }
#gui-chat p b.alienYellow{ color: #fed532; }
#gui-fuel {
	position: fixed;
	top: 50px;
	left: 8px;
	height: 10px;
	width: 200px;
	background: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
#gui-fuel::-webkit-meter-bar {
	background: transparent;
	-webkit-appearance: none;
	display: inline-block;
	position: relative;/*shitty hack*/
	bottom: 20px;
	left: 77px;
}
#gui-fuel::-moz-meter-bar {
	background: #5493ce;
}
#gui-fuel::-webkit-meter-optimum-value, #gui-fuel::-webkit-meter-suboptimum-value, #gui-fuel::-webkit-meter-even-less-good-value {
	background: #5493ce;
}
#gui-fuel::before {
	content: "Fuel:";
	color: #fff;
	width: 77px;
	display: inline-block;
}
#gui-health {
	height: 1.41em;
	position: fixed;
	top: 20px;
	left: 8px;
	color: #eee;
}
#gui-health::before {
	content: "Health:";
	width: 77px;
	display: inline-block;
	position: relative;
	top: -5px;
	right: 0;
}
#gui-health div {
	background-size: 100% 100%;
	display: inline-block;
	width: 1.625em;
	height: 1.41em;
}
#gui-health div.heartFilled { background-image: url("/assets/images/heartFilled.svg"); }
#gui-health div.heartHalfFilled { background-image: url("/assets/images/heartHalfFilled.svg"); }
#gui-health div.heartNotFilled { background-image: url("/assets/images/heartNotFilled.svg"); }

#gui-bad-connection {
	font-size: 2.75em;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-top: -180px;
	margin-left: -250px;
	color: #eee;
}
#gui-points {
	position: fixed;
	top: 4px;
	left: 50%;
	transform: translate(-50%, 0);
	color: #eee;
	font-size: 1.75em;
	background: rgba(0, 0, 0, 0.7);
	min-height: none;
}
#gui-points th {
	width: 108px;
	text-align: center;
}
#gui-points-alienBeige { color: #e5d9be; }
#gui-points-alienBlue { color: #a2c2ea; }
#gui-points-alienGreen { color: #8aceb9; }
#gui-points-alienPink { color: #f19cb7; }
#gui-points-alienYellow { color: #fed532; }

#gui-options {
	position: fixed;
	top: 0;
	right: 8px;
}
#gui-options button {
	margin: 6px 2px;
}
#gui-message {
	background: #000;
	color: #fff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
	padding: 14px;
	min-width: 120px;
	width: 30vw;
	max-width: 200px;
	position: fixed;
	top: 47px;
	right: 0;
	font-size: 0.875em;
	transform: translateX(0);
	transition: transform .5s;
}
#gui-message.hidden {
	transform: translateX(100%);
}
#gui-message:before {
	display: block;
	content: attr(data-title);
	font-size: 1.3em;
	margin-right: 50px;
}
#gui-message:after {
	content: attr(data-desc);
	font-weight: bold;
	color: #4dbb63;
}

